$colour-black: #333333;
$colour-white:  #FFFFFF;
$colour-med-grey:  #bfbfbf80;
$colour-dark-red:  #9D0F1A;
$colour-red: #D71440;
$colour-green: #36ED79;
$colour-dark-grey: #D5D6D8;
$colour-light-grey: rgba(0, 0, 0, 0.1);