@font-face {
    font-family: "ProbaPro-ExtraLight";
    src: url("../../static/fonts/ProbaPro/ProbaPro-ExtraLight.woff");
}
@font-face {
    font-family: "ProbaPro-Light";
    src: url("../../static/fonts/ProbaPro/ProbaPro-Light.woff");
}
@font-face {
    font-family: "ProbaPro-LightItalic";
    src: url("../../static/fonts/ProbaPro/ProbaPro-LightItalic.woff");
}
@font-face {
    font-family: "ProbaPro-Medium";
    src: url("../../static/fonts/ProbaPro/ProbaPro-Medium.woff");
}
@font-face {
    font-family: "ProbaPro-Regular";
    src: url("../../static/fonts/ProbaPro/ProbaPro-Regular.woff");
}
@font-face {
    font-family: "ProbaPro-SemiBold";
    src: url("../../static/fonts/ProbaPro/ProbaPro-SemiBold.woff");
}
@font-face {
    font-family: "ProbaPro-Bold";
    src: url("../../static/fonts/ProbaPro/ProbaPro-Bold.woff");
}
  
